**/*.idea
nbactions.xml
nb-configuration.xml
*.iml
.settings/
.project
.tern-project
bin/
tmp/
**/*.classpath
**/target/
**/*.metadata/*
**/*.recommenders
.idea
.idea/*
**/__pycache__/*
perl.exe.stackdump
*.stackdump
