<!DOC{% extends 'student/base.html' %}
{% block title %}Wiadomości{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail caption">
                            Twoje wiadomości
                        </div>
                        {% if inbox %}
                            <div class="col-sm-12">
                                <div class="caption">
                                    {% for message in inbox %}
                                        {{ message.message.title }} <br>
                                        {{ message.message.text }}<br><br>

                                        {% if not isStudentSignedToProject %}
                                            <form action="{% url 'student_inbox:team-reject' message.id %}"
                                                  method="post"
                                                  style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit"
                                                        class="btn btn-primary btn-large label label-warning">
                                                    <span class="glyphicon glyphicon-ok"> Odrzuć</span>
                                                </button>
                                            </form>
                                              <form action="{% url 'student_inbox:team-accept' message.id %}"
                                                  method="post"
                                                  style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit"
                                                        class="btn btn-primary btn-large label label-warning">
                                                    <span class="glyphicon glyphicon-ok"> Zaakceptuj</span>
                                                </button>
                                            </form>
                                        {% endif %}
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}