{% extends 'student/base.html' %}

{% block body %}
    <div class="albums-container container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h3>Zalogowany jako student: {{ user.username }} </h3>
            </div>
        </div>

    </div>

    {% if posts %}
        {% for post in posts %}
            <div class="col-sm-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h1>{{ post.title }} ( {{ post.course.name }} )</h1>
                        <p>{{ post.content }}</p>
                        <div>
                       <span class="badge badge-success">Autor: {{ post.tutor.profile.last_name }} {{ post.tutor.profile.first_name }} -- Post
                            dodany: {{ post.creation_time }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}