{% extends 'student/base.html' %}

{% block body %}
    <div class="albums-container container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h3>{{ user.username }}'s Student Albums</h3>
            </div>
        </div>

    </div>

    {% if request.session.inbox %}
        <div class="col-sm-12">
            <div class="caption">
                {% for msg in request.session.inbox %}
                    {{ msg.message.title }} <br>
                    {{ msg.message.text }}<br><br>
                    <hr>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            <div class="col-sm-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h1>{{ post.title }} ( {{ post.course.name }} )</h1>
                        <p>{{ post.content }}</p>
                        <div>
                       <span class="badge badge-success">Autor: {{ post.tutor.profile.last_name }} {{ post.tutor.profile.first_name }} -- Post
                            dodany: {{ post.creation_time }}</span>
                        </div>
                        <!-- View Details -->
                        <a href="{% url 'student:detail' post.id %}" class="btn btn-primaty btn-sm" role="button">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}