{% extends 'tutor/base.html' %}

{% block body %}
    <div class="albums-container container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h3>Zalogowany jako: {{ user.username }} </h3>
                <h4> Wybrany przedmiot:
                    {% if request.session.selected_course_shortname %}{{ request.session.selected_course_shortname }}
                    {% else %}Brak wybranego przedmiotu{% endif %}</h4>
            </div>
        </div>

    </div>
    <br>
    <a href="{% url 'tutor_posts:post-add' %}">
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Dodaj nowy post
        </button>
    </a> <br><br>


    {% if posts %}
        {% for post in posts %}
            <div class="col-sm-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h1>{{ post.title }} ( {{ post.course.name }} )</h1>
                        <p>{{ post.content }}</p>
                        <div>
                       <span class="badge badge-success">Autor: {{ post.tutor.profile.last_name }} {{ post.tutor.profile.first_name }} -- Post
                            dodany: {{ post.creation_time }}</span>
                        </div>
                        <!-- View Details -->
                        <a href="{% url 'student:detail' post.id %}" class="btn btn-primaty btn-sm" role="button">
                            View Details
                        </a>

                        <!-- Delete Album -->
                        {% if post.tutor.profile.user_id == request.user.id %}
                            <form action="{% url 'tutor_posts:post-delete' post.id %}" method="post"
                                  style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}"/>
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}