<!DOC{% extends 'student/base.html' %}
{% block title %}Lista projektów{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail caption">
                            Lista projektów
                        </div>
                        {% if course_projects %}
                            {% for project in course_projects %}
                                <div class="caption">
                                    Nazwa projektu: {{ project.name }} <br><br>
                                    Opis projektu: {{ project.description }}<br><br>
                                    Liczba dozwolonych zespołów: {{ project.allowed_teams_number }}<br>
                                    Liczba dozwolonych osób w zespole: {{ project.allowed_students_number }}<br><br>
                                    {% for student in project.studentuser_set.all %}
                                        {{ student.album_number }}<br>
                                    {% endfor %}
                                    {% if project.id == request.session.signed_project_id %}
                                        Zapisany
                                    {% endif %}
                                </div><br>
                                <!-- Sign to Project -->
                                <form action="{% url 'student_projects:project-sign' project.id %}" method="post"
                                      style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="project_id" value="{{ project.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </form>
                                <hr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}