<!DOC{% extends 'student/base.html' %}
{% block title %}Lista projektów{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail caption">
                            Lista projektów
                        </div>
                        {% if course_projects %}
                            {% for project in course_projects %}
                                <div class="caption">
                                    Nazwa projektu: {{ project.name }} <br><br>
                                    Opis projektu: {{ project.description }}<br><br>
                                    Liczba dozwolonych zespołów: {{ project.allowed_teams_number }}<br>
                                    Minimalna liczba osób w zespole: {{ project.minimum_students_number }}<br>
                                    Liczba dozwolonych osób w zespole: {{ project.allowed_students_number }}<br>
                                    Status projektu: {% if project.available %}
                                    <div class="label label-success">Dostępny</div>{% else %}
                                    <div class="label label-danger">Zajęty</div>{% endif %}
                                    <br><br>
                                    {% if project.studentuser_set.all %}
                                        <span class="label label-info">Zapisani studenci:</span> <br>
                                        <ul class="list-group">
                                            {% for student in project.studentuser_set.all %}
                                                <li class="list-group-item">{{ student.profile.first_name }} {{ student.profile.last_name }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% if project.id == request.session.signed_project_id %}
                                            <br>
                                            <span class="glyphicon glyphicon-pushpin label label-success"> Zapisany</span>
                                        {% endif %}
                                    {% endif %}
                                </div><br>
                                <!-- Sign to Project -->
                                {% if project.available %}
                                    {% if  project.id != request.session.signed_project_id and not request.session.student_team_registered %}
                                        <form action="{% url 'student_projects:project-sign' project.id %}"
                                              method="post"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="project_id" value="{{ project.id }}"/>
                                            <button type="submit" class="btn btn-primary btn-large label label-warning">
                                                <span class="glyphicon glyphicon-ok"> Zapisz się na projekt</span>
                                            </button>
                                        </form>
                                    {% else %}
                                        {% if project.studentuser_set.all|length >= project.minimum_students_number and not request.session.student_team_registered %}
                                            <form action="{% url 'student_projects:project-create-team' project.id %}"
                                                  method="get"
                                                  style="display: inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="project_id" value="{{ project.id }}"/>
                                                <button type="submit"
                                                        class="btn btn-primary btn-large label label-warning">
                                                    <span class="glyphicon glyphicon-ok"> Utwórz zespół</span>
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <div class="label label-danger">Projekt zajęty</div>
                                {% endif %}
                                <hr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}