<!DOC{% extends 'tutor/base.html' %}
{% block title %}Dodawanie projektów{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" action="{% url 'tutor_projects:read_projects_from_file' %}"
                              method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="projects_file"/>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                        <a href="{% url 'tutor_projects:project-add' %}">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Dodaj nowy post
                            </button>
                        </a> <br><br>

                        {% for description in request.session.desc %}
                            <div class="caption">
                                {{ description }}
                            </div><br>
                        {% endfor %}

                        {% if course_projects %}
                            {% for course in course_projects %}
                                <div class="caption">
                                    {{ course.name }} - {{ course.description }}
                                </div><br>
                            {% endfor %}
                        {% endif %}


                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}