<!DOC{% extends 'tutor/base.html' %}
{% block title %}Dodawanie projektów{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    {% if request.session.wrongFile %}
                        <div class="alert alert-warning">
                            {{ request.session.wrongFile }}
                        </div>
                    {% endif %}
                    <div class="pull-right" style="width: 10%">
                        <div class="thumbnail caption">
                            Maksymalna liczba zespołów<br>
                            <form action="{% url 'tutor_projects:project-teams-minus' %}"
                                  method="post"
                                  style="display: inline;">
                                {% csrf_token %}
                                <button class="btn btn-default btn-number" data-type="minus"
                                        data-field="tutorAllowedTeamsNumber">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </form>
                            <input type="text" name="tutorAllowedTeamsNumber" class="form-control input-number"
                                   value="{{ tutorAllowedTeamsNumber }}" min="0">
                            <form action="{% url 'tutor_projects:project-teams-plus' %}"
                                  method="post"
                                  style="display: inline;">
                                {% csrf_token %}
                                <button class="btn btn-default btn-number" data-type="plus"
                                        data-field="tutorAllowedTeamsNumber">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="pull-left">
                        <form class="form-horizontal" action="{% url 'tutor_projects:read_projects_from_file' %}"
                              method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="projects_file"/>
                            <br>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success">Wczytaj projekty z pliku</button>
                                </div>
                            </div>
                        </form>

                        <a href="{% url 'tutor_projects:project-add' %}">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Dodaj nowy projekt
                            </button>
                        </a> <br><br>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="thumbnail caption">
                            Lista projektów
                        </div>
                        {% if course_projects %}
                            {% for project in course_projects %}
                                <div class="caption">
                                    Nazwa projektu: {{ project.name }} <br><br>
                                    Opis projektu: {{ project.description }}<br><br>
                                    Liczba dozwolonych zespołów: {{ project.allowed_teams_number }}<br>
                                    Minimalna liczba osób w zespole: {{ project.minimum_students_number }}<br>
                                    Liczba dozwolonych osób w zespole: {{ project.allowed_students_number }}<br>
                                    Status projektu: {% if project.available %}
                                    <div class="label label-success">Dostępny</div>{% else %}
                                    <div class="label label-danger">Zajęty</div>{% endif %}
                                    <br><br>
                                    {% if project.studentuser_set.all %}
                                        <span class="label label-info">Zapisani studenci:</span> <br>
                                        <ul class="list-group">
                                            {% for student in project.studentuser_set.all %}
                                                <li class="list-group-item">{{ student.profile.first_name }} {{ student.profile.last_name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if project.available %}
                                        <!-- Delete Project -->
                                        <form action="{% url 'tutor_projects:project-delete' project.id %}"
                                              method="post"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="project_id" value="{{ project.id }}"/>
                                            <button type="submit" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-trash"> Usuń</span>
                                            </button>
                                        </form>

                                        <!-- Edit Project -->
                                        <form action="{% url 'tutor_projects:project-update' project.id %}"
                                              method="get"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="project_id" value="{{ project.id }}"/>
                                            <button type="submit" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-edit"> Edytuj</span>
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if not project.available %}
                                        <form action="{% url 'tutor_projects:project-vacate' project.id %}"
                                              method="post"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="project_id" value="{{ project.id }}"/>
                                            <button type="submit" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-tree-deciduous"> Zwolnij projekt</span>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div><br>
                                <hr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}